.navbar-brand{
    color:#17a2b8 !important;
}
.aboutMe {
    padding: 25px;
    font-size: 60px;
    margin-left: 500px ;
    color: #17a2b8 ;
}
/* adding css to paragraph text */
p {
    margin-top: 15px;
    font-size: 21px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-right: 40px;
    
}
.img-fluid{
    margin-top: 15px;
    margin-left: 40px;
    max-height: 55%;
    max-width: 150%;
}
.footerWrap {
    width:100%;
    position:fixed;
    bottom: 0px;
}
.footer {
    width:400px;
    margin:auto;
}
.footerContent {
    float:left;
    width:100%;
    padding:20px 0;
}
.footer p {float:left; width:100%; text-align:center; }

/* contact page css */
.section {
    background-color: rgb(176, 222, 218);
}
.card{
color: rgb(13, 65, 133);
}


