.navbar-brand{
    color:#17a2b8 !important;
}
.aboutMe {
    padding: 25px;
    font-size: 60px;
    margin-left: 500px ;
    color: #17a2b8 ;
}
/* adding css to paragraph text */
p {
    margin-top: 15px;
    font-size: 21px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-right: 40px;
    
}
.img-fluid{
    margin-top: 15px;
    margin-left: 40px;
    max-height: 55%;
    max-width: 150%;
}
.footerWrap {
    width:100%;
    position:fixed;
    bottom: 0px;
}
.footer {
    width:400px;
    margin:auto;
}
.footerContent {
    float:left;
    width:100%;
    padding:20px 0;
}
.footer p {float:left; width:100%; text-align:center; }

/* contact page css  */

* .body {
    background-color: lightsteelblue;
}
.card{
color:rgb(13, 65, 133);
margin-left: 200px;


}
.contact {
    margin-left: 25px;
    
    
    
}
.h1 {
    padding-top: 60px;
}
 

.fa:hover {
    opacity: 0.7;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
 .html {
     color: orange;
 }
 .css{
     color: orange;
 }
 .javascript{
     color: orange;
 }
 .projects{
      color: orange;
      margin-left: 200px;
 }
 .contact{
     margin-left: 280px;
 }
 .list-group {
     margin-left: 45px;
 }